# Virtual environments
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# macOS
.DS_Store

# draft notebook
draft.ipynb
4_lab4.ipynb

starter_code/
markdown_reports/*
reports/*